# Ignora archivos relacionados con credenciales
.env
keys.json
# Ignora archivos relacionados con os del chatbot
modo_lento/
# Ignora archivos relacionados con '.pyc'
tkinter/__pycache__/
tkinter/forms/login_faceid/__pycache__/
tkinter/forms/login_tradicional/__pycache__/
tkinter/forms/master/__pycache__/
tkinter/forms/dashboard/__pycache__/
tkinter/forms/register/__pycache__/
tkinter/main/__pycache__/
tkinter/util/__pycache__/
tkinter/raspberry/__pycache__/